body {
	background-color: #182229;
}

@keyframes in1 {
	0% {
		left: -5em;
	}
	100% {
		left: 0em;
	}
}

@keyframes in2 {
	0% {
		left: -10em;
	}
	50% {
		left: -10em;
	}
	100% {
		left: 0em;
	}
}

#maintitle {
	font-size: 5em;
	font-family: Fantasy;
	color: #b4deff;
	position: relative;
	animation-name: in1;
	animation-duration: 2s;
}

#subtitle {
	color: #ffffff;
	position: relative;
	animation-name: in2;
	animation-duration: 2s;
}
